@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

/* -----Root CSS Variable------ */

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* -----CSS Global----- */

a {
    text-decoration: none;
    outline: none;
}

li {
    list-style: none;
}

h2 {
    font-size: 2.5rem;
    color: #FFF;
    font-weight: 600;
}

h4 {
    font-size: 1.25rem;
    color: #FFF;
    font-weight: 600;
}

p {
    color: #FFF;
}

img {
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #343434;
}

/* -----Wrapper------- */

.wrapper {
    max-width: 1070px;
    margin: 0 auto;
    padding: 0 15px;
}

/* ------- Card Slider ---------- */

#cards {
    padding: 45px 0;
}

.swiper {
    padding-top: 30px;
}

.card-content {
    text-align: center;
    position: relative;
    cursor: pointer;
}

.card-content img {
    border-radius: 0.5rem;
}

.img-overlay {
    position: absolute;
    left: 25px;
    top: 25px;
    right: 25px;
    bottom: 25px;
    background-color: rgba(16, 16, 16, .5);
    transition: .5s;
    transform: scale(1.15);
    opacity: 0;
}

.card-content:hover .img-overlay {
    opacity: 1;
    transform: scale(1);
}

.card-title {
    width: 100%;
    position: absolute;
    bottom: -45px;
    padding: 50px 30px;
    opacity: 0;
    transition: .5s;
}

.card-content:hover .card-title {
    bottom: 30%;
    opacity: 1;
}

.card-title h4 {
    color: #FFF;
    font-size: 1.5rem;
}

.card-title p {
    color: #FFF;
}

/* ----- Swiper arrow and pagination --------- */

.arrow {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.prevArrowBtn,
.nextArrowBtn {
    z-index: 1000;
    border: 2px solid #DDD;
    color: #FFF;
    background-color: #343434;
    font-size: .80rem;
    text-align: center;
    cursor: pointer;
    display: block;
    width: 2.75rem;
    height: 2.75rem;
    line-height: 2.625rem;
}

.nextArrowBtn {
    margin-left: 10px;
}

/* ---- Styling swiper bullets ----- */

.swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 60%;
    display: flex;
    position: static;
    margin: 0 auto;
}

.swiper-pagination-bullet {
    width: 100%;
    height: 5px;
    border-radius: 0;
}

.swiper-pagination-bullet-active {
    background-image: linear-gradient(162.41deg, #43baff 1.77%, #7141b1 92.78%);
}

.swiper-pagination-bullet:hover {
    background-image: linear-gradient(162.41deg, #43baff 1.77%, #7141b1 92.78%);
    opacity: 1;
    outline: none;
}